body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

.font-13 {
  font-size: 13px;
}

.text-center {
  text-align: center;
}

header {
  display:flex;
  justify-content: space-between;
  background: #ccc;
  padding: 20px 15px 20px 15px;
}

header > img.burger {
  width: 20px;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction : column;
}

#map {
  flex: 1;
  height: 100vh;
}

.slider {
  display: flex;
  position: fixed;
  bottom: 10px;
  overflow-x: auto;
  width: 100%;
  height: 35%;

  /* Smooth scroll on IOS */
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;

  /* Hide scrollbars without disabling scrolling */
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slider::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#card {
  /* make sure the width is honored */
  flex-shrink: 0;
  background: #fff;
  margin-left: 10px;
  padding: 15px;
  gap: 10px;
  max-width: 300px;
}

#card > img {
  height: 100%;
  width: 100px;
}

#card > button {
  background-color: orange;
  color: #fff;
  border: none;
  font-weight: bold;
  height: 20%;
  margin-top: 10px;
  width: 100%;
}

#hotel-info {
  display: flex;
  height: 75%;
  gap: 15px;
}

.image {
  width: 120px;
}

.text-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-break: break-word;
  color: #555;
}

.text-info p {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
}

.price {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay-content {
  padding-top: 30px;
  width: 90%;
  height: 90%;
  background-color:#fff;
  overflow-y: auto;
}

.close-button {
  float: right;
  font-weight: bold;
  font-size: 25px;
  margin-top: -30px;
  margin-right: 10px;
}

#overlay-content form {
  padding: 0px 20px 20px 20px;
}

#overlay-content input {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  box-sizing:border-box;
  margin-bottom: 25px;
}

#overlay-content input[type="submit"] {
  color: white;
  background-color: orange;
  border: none;
}

/* Limit overlay width */
@media only screen and (min-device-width : 481px) {
  .checkin-checkout {
    display: flex;
    gap: 15px;
  }
}

.checkin-checkout > div {
  width: 100%;
}

/* Flex checkin-checkout on bigger screens */
@media only screen and (min-device-width : 481px) {
  #overlay-content {
    width: 500px;
  }
}
  

.booking-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;  
}

/* SVG checkmark */

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke .9s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

#hotel-detail {
  text-align: center;
  padding: 0 15px 0 15px;
}

#hotel-detail h3 {
  word-break: break-all;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
