<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Limehome Booking</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="static/images/favicon.png">

  <link href="static/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEb7V54wKCwcCL29K8ZeAZRzk57xRzoDA&libraries=places&v=weekly"></script>
</head>

<body>
  <section id="app">
    <header>
      <img src="static/images/design_assets_logo.svg" alt="limehome-logo">
      <img class="burger" src="static/images/design_assets_burger-icon.svg" alt="limehome-burger-icon">
    </header>

    <overlay :visible="booking" @close-overlay="closeOverlay">
      <book :place="selectedPlace"></book>
    </overlay>

    <overlay :visible="showHotelDetails"  @close-overlay="closeOverlay">
      <hotel-detail :place="selectedPlace" :index="placeIndex"></hotel-detail>
    </overlay>

    <div id="map"></div>

    <div class="slider">
      <div v-for="(place, index) in places" id="card">
        <section id="hotel-info">
          <img class="image" :src="`https://picsum.photos/id/${index}/200/300`" />
          <div class="text-info">
            <span>
              <p class="line-clamp">{{place.name}}</p>
              <p class="font-13">{{ haversineDistance(currentPosition, place.geometry.location) }}km from you</p>
            </span>

            <span>
              <p class="price">€{{ place.user_ratings_total }}</p>
              <small>Designs may vary</small>
            </span>
          </div>
        </section>
        <button @click="startBooking(place)" class="book-button">Book</button>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="static/js/overlay.js"></script>
  <script src="static/js/book.js"></script>
  <script src="static/js/hotel_detail.js"></script>
  <script src="static/js/app.js"></script>
</body>

</html>